.cover{
    font-family: 'Roboto';
    background-color: #dff5df;
    height: fit-content;
    width: 100vw; 
}
.big {
    font-size: 5vw;
}
.overlay{
    width: 100vw; 
}

.centered {
    text-align: center;
}

.Square1 {
    width: 20vw;
    height: 25vw;
    background-color: #026f00;   
    transform: rotate(45deg);
    margin-right: 15vw;
}

.Square2 {
    width: 18vw;
    height: 25vw;
    background-color: #026f00;   
    margin-left: 15vw;
}

.Square3 {
    width: 20vw;
    height: 25vw;
    background-color: #026f00;   
    transform: rotate(315deg);
    margin-right: 15vw;
}

.blurbLeft {
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 50vw;
}

.blurbRight {
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 50vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text {
    text-align: center;
    line-height: 7vh;
}

.intro {
    padding-bottom: 15vh;
}
.back {
    background-color: #D1EFCD;
	padding: 30px;
	font-size: 0.8em;
    width: fit-content; 
  height: 50vh; 
  align-items: center;
}
.image{
    margin: 40px; 
    padding: 20px; 
    height: 80%;
    width: 40%; 
    float: right;
}
.Simage{
    margin: 10px;  
    width: 150px; 
    height: 150px; 
    float: right; 
}
.zipCodeBody {
    font-family: 'Roboto';
    background-color: #dff5df;
    height: fit-content;
}

.mapDiv {
    width: 50vw;
    height: 60vh;
}

.zipCodeText{
    height: 55vh;
    background-size: 100vw auto; 
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
}

.bannerText {
    padding-left: 4rem;
}

.bannerInput {
    padding-left: 4rem;
}

.zip {
    width: 30vw;
    height: 5vh;
    border-width: 0;
    font-size: 18px;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 2.5rem;
}

.zipButtons {
    width: 30vw;
    border-width: 0;
    font-size: 18px;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2.5rem;
    background-color: #1F6933;
    color: white;
    text-decoration: none;
}

.searchIcon {
    color: white;
}

.forSale {
    padding: 6rem;
    display: flex;
    align-items: center;
    
}

.forSaleText {
    margin-left: 4rem;
}

.forSaleTextL {
    margin-right: 4rem;
    font-size: 1em; 
}

.discoverText {
    margin-top: 2rem;
}

.newHome {
    background-color: #8bc79b;
    height: 40vh;
}

.discoverButton {
    width: 30vw;
    border-width: 0;
    font-size: 18px;
    padding: 1rem;
    background-color: #1F6933;
    color: white;
    text-decoration: none;
    margin-top: rem;
}

.discoverText2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.discoverBottom{
    margin-top: -4rem;
    width: fit-content; 
}
.body {
    font-family: 'Roboto';
    background: linear-gradient(90deg, #139485, #009a84, #00a181, #00a77c, #00ad76, #00b26f, #15b866, #2dbd5b);
    text-align: center;
    margin: 0; 
    height: 100%;
    width: 100%;
}

.text1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.title {
    margin-bottom: 1rem;
}

.paraR {
    width: 50vw;
    margin-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 12vw;
    height: 25vh;
    background-color: #0E4D1F;
   border-radius: 10px;
   color: white;
   padding: 1.5rem;
}
.flex {
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.resourceIcon {
    margin-top: 20px;
    width: 65px;
}
.backboxR{ 
    background-color: #1F6933;
	border-radius: 25px;
	font-size: 0.75em;
	
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    justify-content: right;
    font-size: 20px;
}
h2{
    font-size: 1.5em;
}
.parent{
    height: 50%;
    margin: 20px; 
    padding: 10px; 
    width: fit-content; 
    display: flex;   
}
.bigbox {
	background-color: #D1EFCD;
	padding: 10px;
	margin-right: 5%;
    margin-left:5%;  
	border-radius: 25px;
	font-size: 0.8em;
    width:90%; 
    height: 50%; 
    float: center; 
}
.rectangleimage{
	
	margin:10px ;
    height: 40%;
    width: 50%; 
	float: center;
}

.greenBox {
    background-color: #1F6933;
	border-radius: 25px;
   
   color:white; 

    margin-right: 10px;
    margin-left: 5px;
    padding: 10px;
	border-radius: 25px;
   
	
	width: 30%;
	height: 30%;
	float: left;
	justify-content: left;
}

.Simage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%; 
    margin-left: 10%;
    float: block; 
}
p {
    line-height: 1.5; /* Increase the line spacing between paragraphs */
    font-size: 1em;
  }
.footer{
    background-color: #1F6933;
    width: 100%; 
    height: 50px; 
}