.slidecontainer {
    width: 100%; 
  }

  .App {
    font-family: 'Roboto';
    background-color: #dff5df;
  }
  
  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1; 
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
  }

  .favTitle {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .favFlex {
    display: flex;
  }

  .favCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loveButton2 {
    background-color: green;
    border-width: 0;
    font-size: 20px;
    padding: 2rem;
    border-radius: 10px;
    margin-left: 6rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .inputLabel{
    font-size: 26px;
  }

  .weightage {
    background-color: #DBDBDB;
    border-width: 0;
    border-radius: 20px;
    width: 80px;
    height: 60px;
    font-size: 26px;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .weightInputs {
    margin-left: 2rem;
    margin-top: 3rem;
    display: flex;
  }