.body {
    font-family: 'Roboto';
    background: linear-gradient(90deg, #139485, #009a84, #00a181, #00a77c, #00ad76, #00b26f, #15b866, #2dbd5b);
    text-align: center;
    height: 100%;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.text1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.title {
    margin-bottom: 1rem;
}
.resourceIcon {
 height: 100px; 
}
.paraR {
    width: 50vw;
    margin-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 12vw;
    height: 25vh;
    background-color: #0E4D1F;
   border-radius: 10px;
   color: white;
   padding: 1.5rem;
}

.flex {
    display: flex;
   
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}


.backboxR{
    background-color: #A1E498; 
	margin: 5%;
	border-radius: 25px;
	font-size: 0.75em;
	width: 90%;
	height: 30%;
    padding: 5px; 
    
	justify-content: center;
}
.smallBox{
    background-color: #A1E498; 
	margin-right: 10%;
    margin-left: 10%;
	border-radius: 25px;
	font-size: 0.75em;
	width: 50%;
	height: 50%;
    padding: 5px; 
	justify-content: center;
 
}
.backboxL{
    background-color: #A1E498; 
	margin-right: 10px;
    padding: 10px;
	border-radius: 25px;
	font-size: 0.75em;
	width: 30%;
	height: 30%;
	float: left;
	justify-content: left;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 2 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    justify-content: left;
    text-align: left;
    font-size: 1.5em;
 
}
 
.parent{
    width: 100%;
    height: 30%;
    display: flex;
   
    
    justify-content: left; /* horizontally center */
    align-items: center;
}
.bigbox {
	background-color: #D1EFCD;
	padding: 20px;
	margin: 20px; 
	border-radius: 25px;
	font-size: 0.8em;
    width:90%; 
    height: 50%; 
    float: inherit;  
    justify-content: center; /* horizontally center */
    align-items: center;
    
}
.rectangleimage{
	margin:10px;
    float: inherit; 
}
p {
    line-height: 1.5; /* Increase the line spacing between paragraphs */
    font-size: 1.5em;
  }

  .button {
    background-color: #1F6933;
    color: white;
    padding: 40px; 
    text-align: center;
    text-decoration: white;
    display: inline-block;
  }
  
 