.zipCodeBody {
    font-family: 'Roboto';
    background-color: #dff5df;
    height: fit-content;
}

.mapDiv {
    width: 50vw;
    height: 60vh;
}

.zipCodeText{
    height: 55vh;
    background-size: 100vw auto; 
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
}

.bannerText {
    padding-left: 4rem;
}

.bannerInput {
    padding-left: 4rem;
}

.zip {
    width: 30vw;
    height: 5vh;
    border-width: 0;
    font-size: 18px;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 2.5rem;
}

.zipButtons {
    width: 30vw;
    border-width: 0;
    font-size: 18px;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2.5rem;
    background-color: #1F6933;
    color: white;
    text-decoration: none;
}

.searchIcon {
    color: white;
}

.forSale {
    padding: 6rem;
    display: flex;
    align-items: center;
}

.forSaleText {
    margin-left: 4rem;
}

.forSaleTextL {
    margin-right: 4rem;
}

.discoverText {
    margin-top: 2rem;
}

.discoverButton {
    width: 30vw;
    border-width: 0;
    font-size: 18px;
    padding: 1rem;
    background-color: #1F6933;
    color: white;
    text-decoration: none;
    margin-top: rem;
}

.discoverText2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.discoverBottom{
    margin-top: -4rem;
}

.wholeHouse{
    background-color: white;
    width: fit-content;
    height: 275px;
    margin-right: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newHome {
    padding: 2.5rem;
    height: fit-content;
    background-color: #8bc79b;
}

.lateHome {
    font-size: 25px;
    margin-bottom: 2rem;
}

.allHouses {
    display: flex;
    overflow-x: scroll;
}


.houseImg {
    width: 325px;
    border-radius: 15px 15px 0px 0px;
    height: 50%;
}

.housePrice {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.houseDetails {
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.bedBathDetail {
    display: flex;
    margin-top: 0.5rem;
}

.marginRight {
    margin-right: 0.5rem;
}

.marginLeft {
    margin-left: 0.5rem;
}

.homeAddress {
    margin-top: 0.4rem;
}

.houseID {
    margin-top: 0.42rem;
    color: #929b94;
    font-size: 12px;
    display: flex;
}

.heart {
    width: 35px;
    margin-right: 2rem;
}

.like {
    border-width: 0;
}

.sliderCarosiel {
    margin-left: 1rem;
    margin-bottom: 1rem;
}